S3 - Laborator 3/movie.xsd

<?xml version="1.0" encoding="utf-8"?>
	<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="movie" />
				<xs:complexType>
					<xs:element name="title" type="xs:string" />
					<xs:element name="genre" type="xs:string" />
					<xs:element name="director" type="xs:string" />
					<xs:element name="premiere" type="xs:string" />
				</xs:complexType>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>